* {
    bg-col: #0E1113;
    bg-col-light: #181825;
    border-col: #89B4FA;
    selected-col: #181825;
    accent: #89B4FA;
    fg-col: #afb1db;
    fg-col2: #F38BA8;
    grey: #D9E0EE;
    width: 600;
}
