* {
    bg-col:  #2e3440;
    bg-col-light: #3b4252;
    border-col: #1E1D2F;
    selected-col: #1E1D2F;
    blue: #7aa2f7;
    fg-col: #D9E0EE;
    fg-col2: #7aa2f7;
    grey: #D9E0EE;
    width: 600;
}
